
body{
	font-family: Verdana;
	text-size: 12px;
	text-align: center;
	background-color: #F0F0F0;
}

h1{
	text-size: 16px;
}

h2{
	text-size: 14px;
}

.courses_wrap{
	clear: both;
	text-align: left;
	background-color: #FFFFFF;
	margin: 0 auto; 
	padding: 1em;
	width: 80%;
	height: auto;
	border: 1px grey solid;
}


.toolbar{
	clear: both;
	float: right;	
	width: 100%;
}

.toolbar div:first-child{
	float: left;
}

.toolbar div:last-child{
	float: right;
}

.clear{
	clear:both;
}

.left{
	float: left;
}

/*.courses_wrap div{
	clear: both;
	float: left;
	margin-top: 0.3em;
}*/

.footer{
	clear: both;
	text-align: right;
	background-color: #FFFFFF;
	color: grey;
	margin-top: 0.5em;
	margin: 0 auto; 
	padding: 1em;
	width: 80%;
	height: 0.7em;
	border: 1px grey solid;

}

.login{
	clear: both;
	text-align: center;
	background-color: #FFFFFF;
}

ul.styledList{
	list-style: none;
}

ul.styledList li{
	width: auto;
}

ul.styledList input{
	width: 30%;
	margin-left: 1em;
}

ul.styledList label{
	width: 30%;

}

.warning, .error{
	color: red;
	/*border: 1px dotted red;*/
	width: auto;
}

.notice{
	color: green;
	/*border: 1px dotted red;*/
	width: auto;
}


.italic{
	font-style: italic;
}

.bold{
	font-weight: bold;
}

.underline{
	text-decoration: underline;
}


