
body{
	font-family: Verdana;
	text-size: 12px;
	text-align: center;
	background-color: #F0F0F0;
}

h1{
	text-size: 16px;
}

h2{
	text-size: 14px;
}

.small{
	text-size: 9px;
}

.wrapper{
	clear: both;
	text-align: left;
	background-color: #F0F0F0;
	margin: 0 auto; 
	width: 80%;
	height: auto;
}

.content{
	background-color: #FFFFFF;
	clear: both;
	float: left;
	border: 1px grey solid;
	padding: 1em;
	width: 100%;
	height: auto;
	
}

.header{
	clear: both;
	background-color: #F0F0F0;
	float: right;
	width: auto;
	height: 5%;	
	text-align: right;

}

.footer{
	clear: both;
	background-color: #FFFFFF;
	color: grey;
	margin-top: 0.5em;
	margin: 0 auto; 
	padding: 1em;
	width: 100%;
	height: 0.7em;
	border: 1px grey solid;
	text-align: right;
}

.toolbar{
	clear: both;
	float: right;	
	width: 100%;
}

.toolbar div:first-child{
	float: left;
}

.toolbar div:last-child{
	float: right;
}

.clear{
	clear:both;
}

.left{
	float: left;
}

/*.courses_wrap div{
	clear: both;
	float: left;
	margin-top: 0.3em;
}*/



.login{
	clear: both;
	text-align: center;
	background-color: #FFFFFF;
}

ul.newsfeed{
	list-style: none;
	border: 1px #COCOCO solid;
	margin-left: 3em;
}

ul.newsfeed li{
	border-bottom: 1px #000000 solid;
	width: 30em;
	padding: 0.2em;
	margin-top: 0.4em;
}

ul.styledList{
	margin-left: 2em;
	list-style: none;
}

ul.styledList li{
	clear: both;
	width: 70%;
	margin-top: 0.3em;
}

ul.styledList input, textarea{
	width: 60%;
	float: right;
}

ul.styledList input[type="submit"]{
	width: auto;
	float: right;
}

ul.styledList li label{
	width: 35%;
	float: left;
}

.warning, .error{
	color: red;
	/*border: 1px dotted red;*/
	width: auto;
}

.notice{
	color: green;
	/*border: 1px dotted red;*/
	width: auto;
}

.marginBottom{
	margin-bottom: 0.5em;
	
}

.italic{
	font-style: italic;
}

.bold{
	font-weight: bold;
}

.underline{
	text-decoration: underline;
}


