<%= link_to "Lisää kurssi", :new_course %>

<p class="underline bold">Kurssilistaus</p>

<ul>
	<% @courses.each do |course| %>
		<li>
			<%= link_to course.name, course_path(course) %>
		</li>
	<% end %>
</ul>

