<html>
	<head>
		<%= stylesheet_link_tag "courses" %>
	</head>

	<body>
		<div class="courses_wrap">

			<h1>Parempi Ilmo 2.0</h1>

			<hr />

			<p>Tässä sulle kurssia</p>

			<%= yield %>
		</div>

		<div class="footer">
			Sivu luotiin <%= Time.now.to_s(:default) %>

			

		</div>
	</body>

</html>
